<div class="container">
  <div class="row">
    <div class="col-lg-9 main-text">
      <h2>Git tracker is a simple tool that helps manage Github and Pivotal Tracker workflow.</h2>
      <%= link_to button_tag('Sign In!', class: 'btn  btn-primary btn-lg'), '/auth/github' %>
    </div>
  </div>
  <div class="row site-info">
    <div class="col-lg-4">
      <span class="glyphicon glyphicon glyphicon-flash" aria-hidden="true"></span>
      <h4>Fast</h4>
      <p>This lightweight Rails application is proof of concept that Pivotal Tracker and Github workflows can benefit from working together in one environment.</p>
    </div>
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <h4>Reliable</h4>
      <p>This application is hosted on Heroku, one of the best cloud service providers in the world.
    </div>
    <div class="col-lg-4">
      <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
      <h4>Open Source</h4>
      <p>The entire project is hosted on Github, and pull requests are encouraged! Together we can make this the best workflow tool in the open source system.</p>
    </div>
  </div>
</div> <!-- /container -->




