body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.container.content{
    width: 100%;
    padding: 0px;
}
.jumbotron .container{
    height: 400px;
}
.flash-content{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container.full-screen{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.flash-content div.alert{
    margin-bottom: 0px;
    border-radius: 0px;
}
h2.header-icons{
    text-align: center;
    font-size: 72px;
}
.header-info p{
    text-align: center;
}
hr{
    border-top: 1px solid #fff;
}
.col-sm-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
div.col-lg-9.main-text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    float: none;
    margin-bottom: 80px;
}
div.col-lg-9.main-text h2{
    text-align: center;
    margin-bottom: 30px;
}
div.col-lg-9.main-text button.btn.btn-primary.btn-lg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 25px;
    font-size: 20px;
}
div.row.site-info{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
div.row.site-info div.col-lg-4{
    margin-bottom: 50px;
}
div.row.site-info div.col-lg-4 h4{
    font-weight: bold;
}
div.row.site-info div.col-lg-4 span.glyphicon{
    font-size: 48px;
}

